.Heading_Generics {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%;
    height: 80%; */
  background-color: #777777;
  padding: 30px;
  height: 360px;
}
.Heading_Generics h1 {
  color: #ffffff;
  padding: 30px;
  font-size: 100px;
  /* margin-top: -50px; */
 
}
.Heading_Generics h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;

  border: 1px solid skyblue;

  padding: 20px;
  width: 370px;
  font: 30px arial;
  margin-left: 170px;
}
/* .Heading_Generics p{
       display: flex;
       align-items: center;
       justify-content: center; 
       margin-top: 20px; 
       padding: 0px;
       color: skyblue;
       width: 100px;
       height: 100px;
} */
.All_tables_generics h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.All_tables_generics {
  justify-content: space-between;
}


.Generic_Data {
  display: flex;
  border-bottom: 1px solid black;
  padding: 16px;

  margin-left: 10%;
}
.Album_min,
.Album_data,
.Album_Ener {
  width: 26%;
}

.Album_buttton {
  margin-left: 260px;
  padding: 10px;
  width: 200px;
  background-color: #56ccf2;
  color: #ffffff;
  border-radius: 8px;
}


.The_Generic{
    width: 100%;
    height: 100px;
    background-color:#56ccf2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
   
}